<table class="table">
   <thead>
      <tr>
         <th>Name</th>
         <th>URL</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
   <% @rss_urls.keys.each do |key| %>
      <tr>
         <td><%= key %></td>
         <td><%= @rss_urls[key] %></td>
         <td><%= button_tag "edit", type: "button", class: "btn btn-primary" %></td>
         <td><%= button_tag "delete", type: "button", class: "btn btn-danger" %></td>
      </tr>
   <% end %>
   </tbody>
</table>

<%= link_to "Add", new_setting_path, class: "btn btn-primary" %>

