<h2>連絡先</h2>

<table class="table">
   <thead>
      <tr>
         <th>To</th>
         <th>名前</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
   <%= div_for(@send_addresses) do %>
       <% @send_addresses.value.each do |send_address| %>
           <tr>
               <td><%= send_address[:to] %></td>
               <td><%= send_address[:name] %></td>
               <td><%= link_to "edit", edit_settings_send_address_path(send_address[:to], to: send_address[:to]), class: "btn btn-primary" %></td>
               <td><%= link_to "delete", settings_send_address_path(send_address[:to], to: send_address[:to]), method: 'DELETE', class: "btn btn-danger" %></td>
           </tr>
       <% end %>
   <% end %>
   </tbody>
</table>

<%= link_to "Add", new_settings_send_address_path, class: "btn btn-primary" %>


