<%= form_for(@project, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
   <% if @project.errors.any? %>
   <div id="error_explanation">
   <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

   <ul>
      <% @project.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
   <% end %>
   </ul>
</div>
  <% end %>

<div class="inputs">
   <div class="form-group">
      <%= f.label :name, 'プロジェクト名', class: "col-md-2 control-label" %>
      <div class="col-md-5">
         <%= f.text_field :name, class: "form-control" %>
      </div>
   </div>
   <div class="form-group">
      <%= f.label :person_in_charge, '担当者名', class: "col-md-2 control-label" %>
      <div class="col-md-5">
         <%= f.text_field :person_in_charge, class: "form-control" %>
      </div>
   </div>
   <div class="form-group">
      <%= f.label :contact_address, '連絡先', class: "col-md-2 control-label" %>
      <div class="col-md-5">
         <%= f.text_field :contact_address, class: "form-control" %>
      </div>
   </div>
   <div class="form-group">
      <%= f.label :ruby_version, 'Rubyバージョン', class: "col-md-2 control-label" %>
      <div class="col-md-5">
         <%= f.text_field :ruby_version, class: "form-control" %>
      </div>
   </div>
   <div class="form-group">
      <%= f.label :rails_version, 'Railsバージョン', class: "col-md-2 control-label" %>
      <div class="col-md-5">
         <%= f.text_field :rails_version, class: "form-control" %>
      </div>
   </div>
   <div class="form-group">
      <%= f.label :ruby_type, 'Rubyの種類', class: "col-md-2 control-label" %>
      <div class="col-md-5">
          <%= f.select :ruby_type, { "CRuby" => "CRuby", "JRuby" => "JRuby" }, {}, class: "form-control" %>
      </div>
   </div>
</div>

<div class="form-group">
   <div class="col-md-offset-2 col-md-5">
      <%= f.submit class: "btn btn-default" %>
      <%= link_to 'プロジェクト情報一覧に戻る', projects_path, class: "btn btn-danger" %>
   </div>
</div>
<% end %>

