<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
     <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
     </div>
     <div class="field">
        <%= f.label :person_in_charge %>
        <%= f.text_field :person_in_charge %>
     </div>
     <div class="field">
        <%= f.label :contact_address %>
        <%= f.text_field :contact_address %>
     </div>
     <div class="field">
        <%= f.label :ruby_version %>
        <%= f.text_field :ruby_version %>
     </div>
     <div class="field">
        <%= f.label :rails_version %>
        <%= f.text_field :rails_version %>
     </div>
     <div class="field">
        <%= f.label :ruby_type %>
        <%= f.text_field :ruby_type %>
     </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
