<!DOCTYPE html>
<html>
<head>
  <title>RubyRailsUpdateChecker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="container">
      <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ruby/Rails Update Checker</a>
         </div>
         <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
               <li><%= link_to 'RSS News', rss_entries_path %></li>
               <li><%= link_to 'RSS Reload', "#" %></li>
            </ul>
         </div>
      </nav>
      <%= yield %>
   </div>
</body>
</html>
